.texto{
  color:#0f0;
  font-size: 1em;
}

.caixa a{
  text-decoration: none;
  color: aquamarine;
}

.caixa a:hover{
  background-color: #f00;
  color: aliceblue;
}

.caixa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}